@import "../../../scss/settings";

:host {
    background-color: $blue-300;
    padding: auto;
}

.container {
    margin-bottom: 30px;
}

.learn-btn {
    background-color: unset;
    color: $gold-300;
    letter-spacing: 2px;
    border-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

mat-divider {
    background: $blue-100;
    margin-bottom: 25px;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}

h3 {
    font-weight: 100;
}

mat-expansion-panel {
    background-color: inherit;
    display: inherit;
    box-shadow: none !important;
    transition: 0ms !important;
}

mat-panel-title {
    display: flex;
    flex-direction: column;
    color: #fff;
}

mat-expansion-panel-header {
    transition: 0ms !important;
    padding: 0;
}

.mat-expansion-panel-header.mat-expanded {
    height: auto;
}
