:host {
    background-color: #335c66;
}

.container {
    margin-bottom: 50px;
}

.learn {
    background-color: unset;
    color: #ae9339;
    letter-spacing: 2px;
    border-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

mat-divider {
    background: aliceblue;
    margin-top: 10px;
}

h1 {
    margin: 0;
    font-weight: 500;
}
