@import "../../../scss/settings";

:host {
    background-color: $blue-300;
    padding: auto;
}

.container {
    margin-bottom: 30px;
}

.learn {
    background-color: unset;
    color: $gold-300;
    letter-spacing: 2px;
    border-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

mat-divider {
    background: $blue-100;
}

p {
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: 100;
}
