<div class="container">
    <div class="title">
        <div class="title-desc">WHAT'S ON</div>
    </div>
    <div class="image">
        <img style="height: 100%; width: 100%;" src="../../../assets/vivid-sydney.jpg" alt="vivid-sydney">
    </div>
    <div class="desc">
        <div class="events">
            <app-event></app-event>
            <button mat-raised-button class="all-events">
                SEE ALL EVENTS
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
</div>