@import "../../../scss/settings";

.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $blue-300;
}

.title-container {
    width: 100%;
    height: 100px;
    display: flex;
    font-weight: 100;
    font-size: 250%;
    align-items: center;
    background-color: $blue-300;
}

.title {
    font-weight: 500;
    margin-left: 15px;
}

.image {
    width: 90%;
    height: 250px;
    margin-bottom: 25px;
}

img {
    height: 100%;
    width: 100%;
}

.event-container {
    margin-bottom: 70px;
}

.events {
    width: 90%;
    margin: 0;
    padding: 0 15px;
}

.see-all-btn {
    width: 100%;
    padding: 8px;
    display: block;
    color: white;
    border-radius: 0;
    letter-spacing: 2px;
    background-color: $gold-300;
}

@media screen and (min-width: 600px) {
    .container {
        height: 100%;
        flex-direction: row;
        background-color: white;
    }

    .title-container {
        width: 10%;
        height: 70%;
        justify-content: center;
    }

    .title {
        white-space: nowrap;
        transform: rotate(270deg);
    }

    .image {
        width: 40%;
        height: 87%;
        display: flex;
    }

    .event-container {
        width: 50%;
        height: 70%;
        margin: 0;
        background-color: $blue-300;
    }

    .events {
        margin: 0;
        width: 70%;
        padding: 0 10%;
        padding-top: 25px;
        margin: 3%;
    }

    .see-all-btn {
        width: 200px;
    }
}
