<div class="container">
    <div class="title-container">
        <h1 class="title">WHAT'S ON</h1>
    </div>
    <div class="image">
        <img style="height: 100%; width: 100%;" [src]="selectedEvent.image" alt="vivid-sydney">
    </div>
    <div class="event-container">
        <div class="events">
            <app-event [events]="events"></app-event>
            <button mat-raised-button class="see-all-btn">
                SEE ALL EVENTS
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
</div>