<div class="container">
    <div class="title-container">
        <h1 class="title">WHAT'S ON</h1>
    </div>
    <div class="image">
        <img [src]="selectedEvent?.image" alt="{{ selectedEvent?.title }}">
    </div>
    <div class="event-container">
        <div class="events">
            <app-event [events]="events" (open)="openEvent($event)"></app-event>
            <button mat-raised-button class="see-all-btn">
                SEE ALL EVENTS
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
</div>